#welcome-div {
  text-align: center;
  background: #438A74 none no-repeat scroll 3px 8px;
  border: 2px outset #21453A;
}

.cycle-card {
  background-color: #75BDA6;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  border: 2px outset #438A74;
}

body {
  background-color: #E0F0EB;
}

.delete-btn {
  background-color: rgb(253, 84, 84);
  border: none;
}